In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

In [2]:
raw_data = pd.read_csv('College.csv')
raw_data

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [3]:
raw_data.isna().sum()

Private        0
Apps           0
Accept         0
Enroll         0
Top10perc      0
Top25perc      0
F.Undergrad    0
P.Undergrad    0
Outstate       0
Room.Board     0
Books          0
Personal       0
PhD            0
Terminal       0
S.F.Ratio      0
perc.alumni    0
Expend         0
Grad.Rate      0
dtype: int64

In [4]:
raw_data.dtypes

Private         object
Apps             int64
Accept           int64
Enroll           int64
Top10perc        int64
Top25perc        int64
F.Undergrad      int64
P.Undergrad      int64
Outstate         int64
Room.Board       int64
Books            int64
Personal         int64
PhD              int64
Terminal         int64
S.F.Ratio      float64
perc.alumni      int64
Expend           int64
Grad.Rate        int64
dtype: object

In [5]:
# converting label column into integre value

y = raw_data['Private'].map({'No':0,'Yes':1})
y

0      1
1      1
2      1
3      1
4      1
      ..
772    0
773    1
774    1
775    1
776    1
Name: Private, Length: 777, dtype: int64

In [6]:
X_train,X_test,y_train,y_test = train_test_split(raw_data.drop(['Private'],axis=1),y)

In [7]:
svc = SVC()
svc.fit(X_train,y_train)
svc.score(X_test,y_test)

0.9487179487179487

In [8]:
scale = StandardScaler()
scale_X_train = scale.fit_transform(X_train)
scale_X_test = scale.fit_transform(X_test)

In [9]:
svc = SVC()
svc.fit(scale_X_train,y_train)
svc.score(scale_X_test,y_test)

0.9384615384615385

In [10]:
SVC_grid_params = {
    'C':[0.01,0.1,1,10],
    'kernel':['poly', 'rbf', 'sigmoid','linear'],
    'degree':[1,2,3,4,5],
    'gamma':['scale', 'auto'],
    'tol':[0.001,0.0001,0.01,0.1,1,10]
}

grid_search_SVC = GridSearchCV(SVC(),SVC_grid_params,cv = 5)

grid_search_SVC.fit(scale_X_train,y_train)

best_params_SVC = grid_search_SVC.best_params_

svc = SVC(C = best_params_SVC['C'],
          kernel = best_params_SVC['kernel'],
          degree = best_params_SVC['degree'],
          gamma = best_params_SVC['gamma'],
          tol = best_params_SVC['tol'])
svc.fit(scale_X_train,y_train)
svc.score(scale_X_test,y_test)

0.9282051282051282

In [11]:
svc

SVC(C=10, degree=1)